* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

header {
  background-color: #1565C0;
  padding: 23px 0;
  height: 80px;
  position: sticky;
  width: 100%;
  z-index: 1000;
  isolation: isolate;
  top: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 139px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links li a {
  text-decoration: none;
  color: white;
  font-size: 16px;
}

.nav-links li a:hover {
  border-bottom: 2px solid white;
  top: 10px;
}

.cart {
  position: relative;
}

.cart a {
  text-decoration: none;
  color: white;
}

.logo img {
  width: 120px;
  height: 35px;
}

.cart img {
  width: 27px;
  height: 27px;
}

.cart-count {
  position: absolute;
  top: -7px;
  right: -7px;
  background-color: #06283D;
  color: white;
  border-radius: 50%;
  padding: 4px 4px;
  font-size: 12px;
  font-weight: bold;
}


/* banner */
.banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 280px;
}

.banner__left {
  height: 100%;
  width: 30%;
  flex: 1;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #282C35;
}

.underline {
  width: 102px;
  height: 4px;
  background-color: #007BFF;
  margin: 10px auto 0 auto;
}

.banner__left h2 {
  font-size: 2.5em;
}

.banner__right {
  width: 70%;
}

.banner__right img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

/* Product Listing */

.container {
  display: flex;
  justify-content: center;
  margin: 20px 139px;
}

.left-section {
  width: 35%;
}

.breadcrumb {
  margin-bottom: 20px;
  font-size: 14px;
  color: #555;
}

.filters {
  background-color: #fff;
}

.categories {
  border-top: 2px solid #E5E5E7;
  border-bottom: 2px solid #E5E5E7;
}

.filter_labels {
  margin: 15px 0;
  font-weight: 600;
}

.categories label {
  display: block;
  margin-bottom: 10px;
}

.result-count {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

#sort-products {
  width: 220px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  cursor: pointer;
}

.products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.product {
  transition: box-shadow 0.3s ease;
}

.product__image {
  text-align: center;
  background-color: #f3f3f3;
  margin-bottom: 11px;
}

.product__image img {
  height: 320px;
  mix-blend-mode: multiply;
  max-width: 100%;
  margin-bottom: 15px;
  object-fit: contain;
}

.price,
.product_title {
  font-size: 16px;
  color: #292929;
  margin-bottom: 8px;
}

.product_title {
  font-weight: 600;
}

.product:hover {
  cursor: pointer;
}

/* Load More Button */
#load-more {
  display: block;
  margin: 20px auto;
  padding: 12px 20px;
  font-size: 1rem;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#load-more:hover {
  background-color: #555;
}

#loading-spinner {
  text-align: center;
  font-size: 1.5rem;
  color: #333;
  padding: 20px;
}

/* Error Message */
#error-message {
  text-align: center;
  color: red;
  font-weight: bold;
  padding: 20px;
}

/* Controls (Search, Filters, Sort) */
.controls {
  padding: 20px;
}

.controls input[type="text"],
.controls select {
  padding: 10px;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 250px;
}

.controls input[type="text"]::placeholder {
  color: #888;
}

/* Footer */

footer {
  border-top: 5px solid #E5E5E7;
}

.footer__links,
.footer__copyright {
  padding: 40px 139px;
  display: flex;
  justify-content: space-between;
}

.footer__copyright {
  border-top: 2px solid #E5E5E7;
}

.footer__links div {
  width: 293px;
}

.footer-links-heading {
  font-weight: 600;
  margin-bottom: 16px;
}

.footer__links p {
  margin-bottom: 10px;
}

.footer__copyright img {
  height: 23px;
  width: 100px;
}

.socials {
  display: flex;
  gap: 20px;
}

.terms_of_use {
  display: flex;
  text-decoration: underline;
  gap: 20px;
}

/* Shimmer Effect */

@keyframes shimmer {
  0% {
      background-position: -400px 0;
  }

  100% {
      background-position: 800px 0;
  }
}

.shimmer-card {
  background-color: #f6f7f8;
  background-image: linear-gradient(to right,
          #f6f7f8 0%,
          #edeef1 20%,
          #f6f7f8 40%,
          #f6f7f8 100%);
  background-repeat: no-repeat;
  background-size: 400px 100%;
  display: inline-block;
  position: relative;
  overflow: hidden;
  width: 290px;
  height: 350px;
  animation: shimmer 2s infinite linear;
}

#shimmer-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

/* Hamburger */

.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  gap: 5px;
}

.hamburger span {
  width: 25px;
  height: 3px;
  background-color: white;
  transition: 0.3s;
}

.mobile_filters {
  display: none;
}

/* Media Queries for Small/Medium Desktops */

@media screen and (max-width: 1280px) {}

/* Media Queries for Tablet */

@media screen and (max-width: 768px) {

  .navbar {
      padding: 0 16px;
  }

  .nav-links {
      display: none;
  }

  .banner {
      flex-direction: column-reverse;
      height: fit-content;
  }

  .banner__left {
      width: 90%;
      height: 20%;
      position: absolute;
      top: 25%;
  }

  .banner__right {
      width: 100%;
  }

  .banner__right img {
      height: 193px;
      object-fit: cover;
  }

  .container {
      flex-direction: column;
      margin: 100px 16px 20px 16px;
  }

  .left-section {
      width: 100%;
  }

  .controls {
      padding: 10px 0;
  }

  .controls input[type="text"] {
      width: 100%;
  }

  .products {
      grid-template-columns: repeat(3, 1fr);
  }

  .product__image img {
      height: 196px;
  }

  .footer__links,
  .footer__copyright {
      padding: 40px 18px;
      flex-direction: column;
      gap: 20px;
  }

  .footer__copyright {
      flex-direction: column-reverse;
      align-items: center;
      text-align: center;
  }

  .footer__links div {
      width: 100%;
  }

  #error-message {
      padding: 0;
  }

  .shimmer-card {
      width: 100%;
      height: 211px;
  }

  #shimmer-container {
      grid-template-columns: repeat(3, 1fr);
  }

  .filters {
      display: none;
      position: fixed;
      top: 80px;
      left: 0;
      width: 100%;
      background-color: white;
      padding: 20px;
      z-index: 999;
      border: solid #1565C0;
      border-width: 5px 10px 10px 10px;
  }

  .filters.active {
      display: block;
  }

  .hamburger {
      display: flex;
  }

  .hamburger.active span:nth-child(1) {
      transform: rotate(45deg) translate(6px, 5px);
  }

  .hamburger.active span:nth-child(2) {
      opacity: 0;
  }

  .hamburger.active span:nth-child(3) {
      transform: rotate(-45deg) translate(6px, -5px);
  }

  .mobile_filters {
      display: flex;
      justify-content: space-around;
      margin: 30px 0 10px 0;
  }

  .mobile__filter {
      display: flex;
      gap: 5px;
      text-decoration: underline;
  }

  #sort-products {
      display: none;
  }

  .result-count {
      display: flex;
      justify-content: center;
  }

}

/* Media Queries for Mobile */

@media screen and (max-width: 480px) {
  .products {
      grid-template-columns: repeat(2, 1fr);
  }

  .shimmer-card {
      width: 100%;
      height: 211px;
  }

  #shimmer-container {
      grid-template-columns: repeat(2, 1fr);
  }

}